body {
     background: #ccabc8;
    font-family: Times New Roman;
    line-height: 1.6;
    margin: 0;
    padding: 30px;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    color: #2c3e50;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

img {
    
    width: 400px;
}
